/server/mode_modules
/server/node_modules
/server/dist
/server/build
/server/coverage
/server/logs
/server/temp
/client/node_modules
/client/dist
/client/build
/client/coverage
/client/logs
/client/temp

